.form {
  padding-top: 10em;
  padding-left: 200px;
  /* padding-right: 100px; */
  /* padding: 140px 180px 0 150px; */
  width: 680px;
  /* margin: auto; */
  /* padding-right: 1rem;
  padding-left: 15em; */
  /* max-width: 450px; */
  position: relative;
}
